<div id="contenido">
  <aside id="sidebar">
      <h2>Listado de Chats</h2>
      <hr>
      <button class="btnCreateGroup">Crear grupo</button>
      <ul id="chat-list">
      </ul>
  </aside>
  <main>
      <button id="toggleAsideBtn" class="toggle-aside-btn">Mostrar/Ocultar</button>

      <header>
        <h4>Nombre del usuario</h4>
        <div class="spacer"></div>
        <img src="../../../assets/images/imagen-usuario.png" alt="">
      </header>

      <section id="chat-zone"></section>

      <div class="write-zone">
          <input id="input-text" placeholder="Escribe ..." >
          <button id="send-btn">Enviar</button>
      </div>

  </main>
</div>
