.container-friend-list{
    display: flex;
    flex-direction: row;
    column-gap: 1%;
    margin-bottom: 20px;
}

.friend-list{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    max-height: 100%;
    column-gap: 1%; 
    margin: 1%;
    padding: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    max-height: 400px;
    overflow-y: auto;
}

.search-person{
    max-width: 50%;
}

.frien-label{
    max-width: 100%;
    margin: 5px;
    padding-left: 5px;
}

.result-list{
    flex-grow: 1;
    max-width: 100%;
    max-height: 400px;
    overflow-y: auto;
    margin: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-box {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 5px;
  }
  
.search-input {
    border: none;
    background-color: transparent;
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 16px;
    outline: none; /* Remove the outline */
    flex-grow: 1; /* Ensure the input takes up the available space */
}
  
.search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
  
.search-button svg {
    color: #707070; 
}
  
  
.search-button:hover {
    background-color: #e0e0e0; 
    border-radius: 50%;
}

.result-list::-webkit-scrollbar{
    width: 8px;
}

.result-list::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 6px;
}
  
.result-list::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 6px; 
}
  
.result-list::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.friend-list::-webkit-scrollbar{
    width: 8px;
}

.friend-list::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 6px;
}
  
.friend-list::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 6px; 
}
  
.friend-list::-webkit-scrollbar-thumb:hover {
    background: #555; 
}