<div class="contenedor">
    <h1 class="titulo">FREE</h1>
    <div class="price">
        <span class="amount">0,00 €/mes</span>
    </div>
    <div class="contenido">
        <ul>
            <li class="caracteristica"><span class="checkmark">✓</span> Gestión de horarios.</li>
            <li class="caracteristica"><span class="checkmark">✓</span> Añadir máximo 20 amigos.</li>
            <li class="caracteristica"><span class="checkmark">✓</span> Limitación de visualización de documentos.</li>
            <li class="caracteristica"><span class="checkmark">✓</span> Creación de hasta 4 grupos de trabajo.</li>
        </ul>
    </div>
</div>
