body {
    margin: 0;
    padding: 0;
    background-color: white;
    font: Ubuntu;
}

#presentation-p {
    text-align: center;
    width: 60%;
    font-size: x-large;
}

mark {
    color: #f4a261;
    background-color: white;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: row; 
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    padding: 1.25em 0; 
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    margin-top: 1.875em; 
    width: 70%;
    text-align: justify;
}

h1 {
    color: #0077b6;
    text-align: center;
}

#image-zone{
    width: 30%;
}

#imagen-homepage {
    width: 18.75em; 
    height: 18.75em; 
}

.caracteristicas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.25em; 
}

.titulo-seccion {
    margin-bottom: 1.25em;
    color: #0077b6;
    text-align: center;
}

.tarjetas {
    display: flex;
    justify-content: space-around; 
    width: 100%;
    margin-bottom: 4.375em; 
}

.caracteristica1,
.caracteristica2,
.caracteristica3,
.caracteristica4 {
    background-color: #f8f8f8;
    padding: 1.25em;
    border-radius: 0.625em; 
    box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.1); 
    flex: 1;
    max-width: 12.5em; 
    margin: 0.625em; 
}

.caracteristica1 img,
.caracteristica2 img,
.caracteristica3 img,
.caracteristica4 img {
    max-width: 5em;
    border: 0.125em solid #f4a261;
    height: auto;
    margin-bottom: 0.625em; 
}

.video-tutorial {
    display: flex;
    justify-content: space-between;
}

.video-link {
    display: none;
}

.cuadro-texto {
    flex: 1;
    max-width: 37.5em; 
    margin-bottom: 1.25em; 
    padding: 1.25em; 
    background-image: linear-gradient(to top, #ede7e3 0%, #0077b6 100%);
    text-align: justify;
}

.cuadro-texto h2 {
    color: white;
}

.video {
    flex: 1;
    
}

.video iframe {
    width: 100%;
    height: 100%;
    border: none; 
    border-radius: 0.625em;
}

.preguntas-respuestas {
    text-align: center;
    margin: 1.25em; 
}

#FAQ {
    width: 5em; 
    height: 5em; 
}

.preguntas-respuestas h2 {
    color: #0077b6;
}

.preguntas-respuestas p {
    font-size: 1.25em; 
    margin-top: 1.25em;
}

.pregunta {
    margin-top: 1.25em; 
    border: 0.0625em solid #ddd; 
    padding: 0.625em;
    border-radius: 0.625em; 
    text-align: left;
    background-color: #ede7e3;
}

.pregunta h3 {
    color: #0077b6;
}

.pregunta p {
    margin-top: 1.25em;
    text-align: justify;
}

.pregunta ol {
    margin-top: 1.25em;
}

.pregunta ol li {
    margin-top: 0.3125;
}

/* Reglas de medios para dispositivos tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    #image-zone {
        display: none;
    }

    .content { 
        width: 100%;
    }

    #presentation-p {
        width: 80%;
        font-size: large; 
    }

    .tarjetas {
        width: 100%;
    }

    .video-tutorial .cuadro-texto:first-child {
        display: block; 
    }

    .video-tutorial .cuadro-texto:last-child {
        display: none; 
    }

    .video-link {
        display: inline-block;
        text-decoration: none;
        color: #0077b6;
        font-weight: bold;
        margin-top: 1.25em;
        transition: background-color 0.3s, color 0.3s; 
    }
    
    .video-link:hover {
    color: #f4a261;
    }

    .video-link:active {
        transform: translateY(1px); 
    }

    .preguntas-respuestas p {
        font-size: medium;
    }
    
}

/* Reglas de medios para dispositivos móviles */
@media only screen and (max-width: 600px) {
    #image-zone{
        display: none;
    }

    #presentation-p {
        width: 80%;
        font-size: medium; 
    }
    
    .container {
        flex-direction: column; 
        padding: 0.75em 0;
        width: 100%;
    }
    
    .content {
        margin-top: 1.0625em; 
        width: 100%;
    }
    
    h1 {
        font-size: x-large;
    }

    .caracteristicas {
        padding: 0.75em; 
    }
    
    .titulo-seccion {
        margin-bottom: 0.75em;
        font-size: medium;
    }
    
    .tarjetas {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    
    .tarjetas p {
        font-size: small;
    }
    
    .video-tutorial {
        display: none; 
    }

    .preguntas-respuestas {
        margin: 0.73em; 
    }
    
    #FAQ {
        width: 2.9em; 
        height: 2.9em; 
    }

    .preguntas-respuestas h2 {
        font-size: x-large;
        margin-top: 0;
    }
    .preguntas-respuestas p {
        font-size: small;
        margin-left: 0.5em;
        margin-top: 1em; 
    }

    .pregunta {
        margin-top: 0.73em; 
        border: 0.0366em solid #ddd; 
        padding: 0.2144em; 
        border-radius: 0.366em; 
    }

    .pregunta h3 {
        font-size: medium;
        text-align: center;
    }
    
    .pregunta p {
        margin-top: 0.73em;
    }

    .pregunta ol li {
        margin-top: 0.1831;
        font-size: small;
    }

}
