body {
    margin: 0;
    padding: 0;
    background-color: white;
    font: Ubuntu;
}

#presentation-p {
    text-align: center;
    width: 60%;
    font-size: 1.5em; /* Cambiado a em */
}

mark {
    color: #f4a261;
    background-color: white;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: row; 
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    padding: 1.25em 0; /* Cambiado a em */
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    margin-top: 1.875em; /* Cambiado a em */
    width: 70%;
    text-align: justify;
}

h1 {
    color: #0077b6;
    text-align: center;
}

#image-zone{
    width: 30%;
}

#imagen-homepage {
    width: 18.75em; /* Cambiado a em */
    height: 18.75em; /* Cambiado a em */
}

.caracteristicas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.25em; /* Cambiado a em */
}

.titulo-seccion {
    margin-bottom: 1.25em; /* Cambiado a em */
    color: #0077b6;
    text-align: center;
}

.tarjetas {
    display: flex;
    justify-content: space-around; 
    width: 100%;
    margin-bottom: 4.375em; /* Cambiado a em */
}

.caracteristica1,
.caracteristica2,
.caracteristica3,
.caracteristica4 {
    background-color: #f8f8f8;
    padding: 1.25em; /* Cambiado a em */
    border-radius: 0.625em; /* Cambiado a em */
    box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.1); /* Cambiado a em */
    flex: 1;
    max-width: 12.5em; /* Cambiado a em */
    margin: 0.625em; /* Cambiado a em */
}

.caracteristica1 img,
.caracteristica2 img,
.caracteristica3 img,
.caracteristica4 img {
    max-width: 5em; /* Cambiado a em */
    border: 0.125em solid #f4a261;
    height: auto;
    margin-bottom: 0.625em; /* Cambiado a em */
}

.video-tutorial {
    display: flex;
    justify-content: space-between;
}

.cuadro-texto {
    flex: 1;
    max-width: 37.5em; /* Cambiado a em */
    margin-bottom: 1.25em; /* Cambiado a em */
    padding: 1.25em; /* Cambiado a em */
    background-image: linear-gradient(to top, #ede7e3 0%, #0077b6 100%);
    text-align: justify;
}

.cuadro-texto h2 {
    color: white;
}

.video {
    flex: 1;
}

.video iframe {
    width: 100%;
    height: 100%;
    border: none; 
    border-radius: 0.625em; /* Cambiado a em */
}

.preguntas-respuestas {
    text-align: center;
    margin: 1.25em; /* Cambiado a em */
}

#FAQ {
    width: 5em; /* Cambiado a em */
    height: 5em; /* Cambiado a em */
}

.preguntas-respuestas h2 {
    color: #0077b6;
}

.preguntas-respuestas p {
    font-size: 1.25em; /* Cambiado a em */
    margin-top: 1.25em; /* Cambiado a em */
}

.pregunta {
    margin-top: 1.25em; /* Cambiado a em */
    border: 0.0625em solid #ddd; /* Cambiado a em */
    padding: 0.625em; /* Cambiado a em */
    border-radius: 0.625em; /* Cambiado a em */
    text-align: left;
    background-color: #ede7e3;
}

.pregunta h3 {
    color: #0077b6;
}

.pregunta p {
    margin-top: 1.25em;
}

.pregunta ol {
    margin-top: 1.25em;
}

.pregunta ol li {
    margin-top: 0.3125;
}

