<div class="container">
  <div class="content">
      <h1>BIENVENIDOS A TIMEMINDER</h1>
      <p id="presentation-p">
          En <mark>TimeMinder</mark> estamos comprometidos a transformar la gestión académica en una experiencia eficiente y efectiva.
          Te damos la bienvenida a un espacio diseñado para simplificar y mejorar los aspectos de tu vida académica.
      </p>
  </div>
  <div id="image-zone">
      <img id="imagen-homepage" src="assets/images/undraw_Online_calendar_re_wk3t.png" alt="Imagen">
  </div>

  
  <app-card></app-card>
</div>
