<div class="container">
  <div class="content">
    <h1>BIENVENIDOS A TIMEMINDER</h1>
    <p id="presentation-p">
      En <mark>TimeMinder</mark> estamos comprometidos a transformar la gestión
      académica en una experiencia eficiente y efectiva. Te damos la bienvenida
      a un espacio diseñado para simplificar y mejorar los aspectos de tu vida
      académica.
    </p>
  </div>
  <div id="image-zone">
    <img
      id="imagen-homepage"
      src="../../assets/imagenes/undraw_Online_calendar_re_wk3t.png"
      alt="Imagen"
    />
  </div>
  <div class="caracteristicas">
    <div class="titulo-seccion">
      <h2>Descubre lo que puedes lograr con TimeMinder</h2>
    </div>
    <div class="tarjetas">
      <app-card content="{{ contenido1 }}" imagen="{{ imagen1 }}"></app-card>
      <app-card content="{{ contenido2 }}" imagen="{{ imagen2 }}"></app-card>
      <app-card content="{{ contenido3 }}" imagen="{{ imagen3 }}"> </app-card>
      <app-card content="{{ contenido4 }}" imagen="{{ imagen4 }}"> </app-card>
    </div>
  </div>
</div>
