
main {
    padding: 24px 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-section {
    text-align: left;
    padding: 40px 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.login-section h1 {
    font-size: 24px;
    text-align: center;
}

.login-section img {
    width: 150px;
    margin: 20px auto 20px;
    display: block;
}

.login-section p {
    font-size: 16px;
    margin-bottom: 5px;
}

.login-section a {
    text-decoration: underline;
    cursor: pointer;
    color: #333;
    display: block;
    margin-bottom: 10px;
}

.login-section button {
    background-color: #0077b6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.login-section button:hover {
    background-color: #f4a261;
}

.a:hover {

    background-color: #0077b6;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    text-decoration: none;
}

.form{
    background-color: #fff;
    margin: auto;
    width: 90%;
    max-width: 400px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.form_group{
    position: relative;
    --color: #575757;
    margin-bottom: 30px;
}

.form_input{
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
}

.form_label{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.form_input:focus + .form_label,
.form_input:not(:placeholder-shown) + .form_label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #3866f2;
}
