main {
    padding: 1.5em 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-section {
    text-align: left;
    padding: 2.5em 2.5em;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0.4em 0.8em rgba(0, 0, 0, 0.1);
    max-width: 25rem;
    width: 100%;
}

.login-section h1 {
    font-size: 1.5rem;
    text-align: center;
}

.login-section img {
    width: 9.375rem;
    margin: 1.25rem auto 1.25rem;
    display: block;
}

.login-section p {
    font-size: 1rem;
    margin-bottom: 0.3125rem;
}

.login-section a {
    text-decoration: underline;
    cursor: pointer;
    color: #333;
    display: block;
    margin-bottom: 0.625rem;
}

.login-section button {
    background-color: #0077b6;
    color: white;
    padding: 0.625em 1.25em;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.login-section button:hover {
    background-color: #f4a261;
}

.a:hover {
    background-color: #0077b6;
    color: white;
    padding: 0.5em 0.9375em;
    border: none;
    border-radius: 0.4375rem;
    cursor: pointer;
    text-decoration: none;
}

.form {
    background-color: #fff;
    margin: auto;
    width: 90%;
    max-width: 25rem;
    text-align: center;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
}

.form_group {
    position: relative;
    --color: #575757;
    margin-bottom: 1.875rem;
}

.form_input {
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: 0.6em 0.3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
}

.form_label {
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0.3125rem;
    transform: translateY(0.625rem);
    transition: transform 0.5s, color 0.3s;
}

.form_input:focus + .form_label,
.form_input:not(:placeholder-shown) + .form_label {
    transform: translateY(-0.75rem) scale(0.7);
    transform-origin: left top;
    color: #3866f2;
}

/* Reglas de medios para dispositivos tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .login-section img {
        width: 7.375rem;   
    }    
}

/* Reglas de medios para dispositivos móviles */
@media only screen and (max-width: 600px) {
    .login-section {
        padding: 1.5em 1.5em;
        box-shadow: none;
        max-width: 100%;
        width: 100%;
    }

    .login-section h1 {
        font-size: 1.25rem;
    }

    .login-section img {
        width: 5.375rem;
    }
    
}
