
main {
    padding: 24px 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-section {
    text-align: left;
    padding: 40px 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.login-section h1 {
    font-size: 24px;
}

.login-section img {
    width: 150px;
    margin: 20px auto 20px;
    display: block;
}
.login-section h1 {
    text-align: center;
}
.login-section p,
.login-section label {
    font-size: 16px;
    margin-bottom: 5px;
}

.login-section input {
    width: 95%;
    padding: 8px;
    margin-bottom: 10px;
}

.login-section a {
    text-decoration: underline;
    cursor: pointer;
    color: #333;
    display: block;
    margin-bottom: 10px;
}

.login-section button {
    background-color: #0077b6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.login-section button:hover {
    background-color: #f4a261;
}

.a {
    background-color: #0077b6;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    
}

.a:hover {
    background-color: #f4a261;
}


