<div class="contenedor">
  <h1 class="titulo">PREMIUM</h1>
  <div class="price">
      <span class="amount">9,99 €/mes</span>
  </div>
  <div class="contenido">
      <ul>
          <li class="caracteristica"><span class="checkmark">✓</span> Gestión de horarios.</li>
          <li class="caracteristica"><span class="checkmark">✓</span> Añadir número ilimitado de amigos.</li>
          <li class="caracteristica"><span class="checkmark">✓</span> Sin limitación de visualización de documentos.</li>
          <li class="caracteristica"><span class="checkmark">✓</span> Creación de grupos de trabajo ilimitados.</li>
      </ul>
  </div>
  <app-boton-aceptar title="{{titulo}}" href="#"/>
</div>
