.container {
  display: flex;
  padding: 10px;
}

.card {
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  height: 65px;
  width: auto;
}

.name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 120px;
  margin-left: 5px;
}

.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-left: 5px;
}

.icono-eliminar {
  transition: transform 0.3s ease, fill 0.3s ease;
}

.button:hover .icono-eliminar {
  fill: red;
}
