body{
    margin: 0;
}
footer {
    padding: 1.25em 0px;
    width: 100%;
    background-color: #ede7e3;
    color: black;
    text-align: center;
}

/* Reglas de medios para dispositivos tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    footer {
        font-size: small;
    }
}

/* Reglas de medios para dispositivos móviles */
@media only screen and (max-width: 600px) {
    footer {
        padding: 0.73em 0px;
        font-size: x-small;
    }
}