.boton {
  padding: 0.5em 0.9375em;
  margin-left: 4px;
  border-radius: 0.4375em;
  cursor: pointer;
  color: black;
  text-decoration: none;
  display: inline-block;
}

.botonR {
  border: 2px solid #0077b6;
}

.boton:hover {
  transform: scale(1.05);
  color: #0077b6;
}

.botonR:hover {
  color: white;
  background-color: #0077b6;
}

.botones-derecha {
  text-align: center;
}

/* Reglas de medios para dispositivos móviles */
@media only screen and (max-width: 600px) {
  .boton {
    margin-left: 0px;
  }
}
