<main>
  <div class="login-section">
    <h1>¡BIENVENIDO A TIMEMINDER!</h1>
    <img
      src="../../../assets/imagenes/login.svg"
      alt="Imagen de inicio de sesión"
      id="login-image"
    />

    <form
      class="form"
      action="../../time-minder/diary/diary.html"
      method="GET"
      id="loginForm"
    >
      <div class="form-group">
        <app-inputauth
          contenido="{{ contenidoCorreo }}"
          type="{{ tipo }}"
          pattern="{{ patron }}"
          identificador="{{ id }}"
        ></app-inputauth>
      </div>
      <div class="form-group">
        <app-inputauth
          contenido="{{ contenidoContrasena }}"
          type="{{ tipoContrasena }}"
          pattern="{{ minlength }}"
          identificador="{{ idContrasena }}"
        ></app-inputauth>
      </div>
      <app-boton-aceptar title="{{ titulo }}"></app-boton-aceptar>
    </form>
  </div>
</main>
