<!DOCTYPE html>

<div class="contenedor">
    <h1 class="título">FREE</h1>
    <div class="contenido">
        <div class="contenedor_precio">
            <label class="precio">0,00€</label>
        </div>
        <div class="caracteristicas">
            <label class="caracteristica">- Gestión de horarios.</label>
            <label class="caracteristica">- Añadir máximo 20 amigos.</label>
            <label class="caracteristica">- Limitación de visualización de documentos.</label>
            <label class="caracteristica">- Creación de hasta 4 grupos de trabajo.</label>
        </div>
    </div>
</div>

</html>