.contenedor{
    background-color: #0077B6;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    width: 300px; /* O el ancho que prefieras */
    text-align: center;
    transition: transform 0.3s ease;
}

.titulo{
    margin: 0;
    color: #00ff00;
}

.price {
    font-size: 3em;
    margin: 20px 0;
}

.contenido ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.caracteristica {
    margin: 10px 0;
    text-align: left;
}
  
.checkmark {
    color: #00ff00;
    margin-right: 10px;
}

.contenedor:hover {
    transform: scale(1.05);
}