<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="free-card-plan.css">
</head>
<div class="contenedor">
    <h1 class="título">PREMIUM</h1>
    <div class="contenido">
        <div class="contenedor_precio">
            <label class="precio">9,99€/mes</label>
        </div>
        <div class="caracteristicas">
            <label class="caracteristica">- Gestión de horarios.</label>
            <label class="caracteristica">- Añadir número ilimitado de amigos.</label>
            <label class="caracteristica">- Sin limitación de visualización de documentos.</label>
            <label class="caracteristica">- Creación de grupos de trabajo ilimitados.</label>
        </div>
        <input type="submit" class="form_submit" value="Conseguir">
    </div>
</div>

</html>