.btn-get-started {
    background-color: #7bc4e1;
    border: none;
    border-radius: 25px;
    color: black;
    padding: 10px 20px;
    margin: 20px 0;
    cursor: pointer;
    font-weight: bold;
    color: white;
  }
  
  .btn-get-started:hover {
    background-color: #1a5d78;
    
  }