.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

.titulo{

}

.contenido{
    background-color: rgb(207, 203, 203);
    padding: 5px;
}

.contenedor_precio{
    background-color: red;
    margin: 5px;
    min-height: 50px;
}

.precio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caracteristicas{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.caracteristica{
    margin: 10px;
    padding: 10px;
    background-color: darkgrey;
}

.form_submit{
    background:  #3866f2;
    color: #fff;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}