<div class="container">
  <div class="content">
    <div class="zona-presentacion">
      <div class="zona-primera">
        <h1>BIENVENIDOS A TIMEMINDER</h1>
        <p id="presentation-p">
          En <mark>TimeMinder</mark> estamos comprometidos a transformar la
          gestión académica en una experiencia eficiente y efectiva. Te damos la
          bienvenida a un espacio diseñado para simplificar y mejorar los
          aspectos de tu vida académica.
        </p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-question-circle-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247m2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"
          />
        </svg>
      </div>
      <div id="image-zone">
        <img
          id="imagen-homepage"
          src="../../assets/images/undraw_Online_calendar_re_wk3t (1).png"
          alt="Imagen"
        />
      </div>
    </div>
  </div>
  <div class="caracteristicas">
    <div class="titulo-seccion">
      <h2>Descubre lo que puedes lograr con TimeMinder</h2>
    </div>
    <div class="tarjetas">
      <app-card content="{{ contenido1 }}" imagen="{{ imagen1 }}"></app-card>
      <app-card content="{{ contenido2 }}" imagen="{{ imagen2 }}"></app-card>
      <app-card content="{{ contenido3 }}" imagen="{{ imagen3 }}"> </app-card>
      <app-card content="{{ contenido4 }}" imagen="{{ imagen4 }}"> </app-card>
    </div>
  </div>
  <div class="video-tutorial pizarra">
    <img src="../../assets/images/man-video.svg" alt="" id="muñeco-video" />
    <div class="cuadro-texto-completo">
      <div class="cuadro-texto">
        <h2>
          Guía de Inicio Rápido en TimeMinder: ¡Optimiza tu Experiencia
          Académica!
        </h2>
        <p>
          En TimeMinder, estamos comprometidos a brindarte una experiencia
          académica fluida y efectiva. Este tutorial está diseñado para ayudarte
          a explorar todas las características y funcionalidades clave de
          nuestra plataforma, garantizando que aproveches al máximo tus
          herramientas de gestión académica.
        </p>
        <ul>
          <li>Crear una cuenta en TimeMinder</li>
          <li>Explorar el calendario y eventos</li>
          <li>Subir tus primeros recursos</li>
          <li>Agregar a tus amigos para encontrarlos facilmente</li>
          <a
            href="https://www.youtube.com/watch?v=yEhk8PbWcHw&t=2s"
            class="video-link"
            target="_blank"
            >Vídeo</a
          >
        </ul>
      </div>
      <div class="cuadro-texto">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/yEhk8PbWcHw"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>
