<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="friend-unconfirmed-request.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="avatar"></div>
            <p class="name">Cristian Marrero Blanco</p>
            <button class="button">
                <img src="../../../assets/images/redCross.png" alt="Icon" class="icon">
            </button>
            <button class="button">
                <img src="../../../assets/images/greenTick.png" alt="Icon" class="icon">
            </button>
        </div>
    </div>
</body>
</html>
