.container-friend-request{
    display: flex;
    flex-direction: row;
    column-gap: 2%;
    font-size: small;
    margin-top: 1%;
}

.friend-request-card{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    column-gap: 5%;
    padding: 2%;

    max-width: 125px;
    max-height: 20px;

    border-color: black;
    border-width: thin;
    border-style: solid;

    background-color: lightgray;

    box-shadow: 5px 5px 10px lightgray;
}   

.delete-image{
    max-width: 5%;
    max-height: 5%;
}

.profile-image{
    max-width: 30%;
}