<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="friend-card.css">
</head>

<div class="container-friend-request">
    <div class="friend-request-card">
        <img class="profile-image" src="../../../assets/images/prueba.png">
        <p class="name">
            Pepito López
        </p>
        
    </div>
    <img class="delete-image" src="../../../assets/images/eliminar-amigo.png">
    
</div>

</html>